.control-container {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.plot-chromatogram {
  width: 100%;
  height: 300px;
  margin-top: 30px;
}

.icon-loader-spinner {
  animation: rotation 2s infinite linear;
  height: 50px;
  width: 50px;
}

.icon-exclamation {
  animation: pulse-animation 2s infinite;
  height: 100px;
  width: 100px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse-animation {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
